.development {
  text-align: center;
}

.development__list {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 28px;
  padding: 0 50px;
  list-style: none;
  box-sizing: border-box;
  text-align: left;
}

.development__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: $green;
}

.development__item {
  margin-bottom: 22px;
}

.development__button {
  position: relative;
  min-width: 150px;
  height: 50px;
  margin-bottom: 50px;
  padding: 3px 0 8px 26px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 25px;

  cursor: pointer;

  &::after {
    content: url("/img/chevron.svg");
    position: absolute;
    display: block;
    width: 7px;
    height: 17px;
    top: calc(50% - 9px);
    right: 24px;
  }

  &:hover {
    padding-left: 25px;
    border: 2px solid #363636;

    &::after {
      right: 23px;
    }
  }

  &:disabled {
    opacity: 0.5;
    padding-left: 32px;

    &:hover {
      border: 1px solid #d8d8d8;
      cursor: default;

      &::after {
        right: 24px;
      }
    }
  }
}

// media at-rules

@media screen and (max-width: 900px) {
  .development__title {
    margin-bottom: 18px;
  }

  .development__list {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $tablet-width) {
  .development__title {
    font-size: 32px;
  }

  .development__list {
    padding: 0 30px;
    flex-direction: column;
  }

  .development__item {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 578px) {
  .development__title {
    font-size: 24px;
  }

  .development__list {
    padding: 0 20px;
  }

  .development__button {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $mobile-width) {
  .development__title {
    font-size: 30px;
  }

  .development__list {
    padding: 0;
  }

  .development__button {
    margin-bottom: 20px;
  }
}